{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Denis Dubovitskiy">
    <title>Уроки живописи и рисунка | {% block maintitle %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300&subset=cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    	body{
	    	font-family: 'Open Sans', sans-serif;
    	}
    	a{
	    	color: #544394
    	}
    </style>
    {% block styles %}{% endblock %}


</head>

<body>

<div class="container">

    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Artlessons</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Работы
                            художника
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for category in categories %}
                            <li {% ifequal 'gallery'|add:category.pk request.path|cut:'/' %}class="active"{% endifequal %}><a
                                href="/gallery/{{category.id}}"><i class="fa fa-picture-o"></i> {{category.name}}</a>
                    </li>
                    {% empty %}
                    <li><a href="#">Категорий нет</a></li>
                    {% endfor %}
                </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Обучение
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'education' %}">Обучение</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Работы учеников</li>
                        {% for student in students %}
                        <li><a href="/gallery/students/{{student.id}}">{{student.name}}</a></li>
                        {% empty %}
                        <li><a href="#">Ученики еще не созданы</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Людмила Савостикова
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">

                            <li {% ifequal link_savostikova request.path %}class="active"{% endifequal %} ><a href="{% url 'savostikova' %}"><i class="fa fa-user"></i> Памяти художника</a>
                            <li {% ifequal link_savostikova_works request.path %}class="active" {% endifequal %} ><a href="{% url 'savostikova_works' %}"><i class="fa fa-picture-o"></i> Работы</a>
                    </ul></li>

                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>-->

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li {% ifequal link_contacts request.path %}class="active" {% endifequal %}><a
                            href="{% url 'contacts' %}">Контакты</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    {% block content %}
    {% endblock %}
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>

