{% extends 'gallery/base.html' %}
{% load staticfiles %}
{% block maintitle %}Контакты{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-6">
        <script type="text/javascript" charset="utf-8"
                src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=lnLa8JlM5jASHZAgtl4SzUJGXn4Aidyb&width=100%&height=455"></script>
    </div>
    <div class="col-md-6">
        <div class="row">
            <p class="lead">
                Максим Максимович:
            </p>
            <address>
                Почта: <strong>info@artlessons.ru</strong><br>
                Телефон: <strong>+7 (903) 628–41–61</strong><br>
            </address>
        </div>
        <div class="row">
            <p class="lead">
                Лариса:
            </p>
            <address>
                Почта: <strong>larisa@artlessons.ru</strong><br>
                Телефон: <strong>+7 (916) 138–38–40</strong><br>
            </address>
        </div>
        <div class="row">
            <p class="lead">
                Елена:
            </p>
                <address>
                Почта: <strong>elena@artlessons.ru</strong><br>
                Телефон: <strong>+7 (903) 116–58–19</strong><br>
            </address>
            </p>
        </div>
        <hr/>
        <div class="row">
            <p class="lead">
                Заметили ошибку на сайте?
            </p>
                <address>
                <strong>admin@artlessons.ru</strong><br>
                Спасибо
            </address>
            </p>
        </div>
    </div>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter27966456 = new Ya.Metrika({id: 27966456, webvisor: true, trackHash: true});
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks");</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/27966456" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript><!-- /Yandex.Metrika counter -->
{% endblock %}