{% extends 'gallery/base.html' %}
{% load staticfiles %}
{% block maintitle %}Обучение{% endblock %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-8">
            <p class="lead">
                Уроки живописи и рисования: усовершенствуйте свои навыки на занятиях у опытного преподавателя
            </p>
            <blockquote>
                <p>
                    Лондонские туманы не существовали, пока их не открыло искусство</p>
                <footer>
                    Оскар Уайльд
                </footer>
            </blockquote>
            <p>Любите ли вы рисовать? Хотели бы отточить свое мастерство или же научиться практически «с нуля»?
                Многие из нас периодически испытывают порывы взяться за кисть или за простой карандаш. И часто нас
                останавливает неумение достаточно выразительно и правильно передать на полотне красоту пейзажа,
                выражение
                лица человека.</p>

            <p>И в то же время перед вами иногда возникают идеи для картин: впечатляющие пейзажи или интересные
                натюрморты вызывают желание запечатлеть их. Только одно «но» &mdash; часто для этого не хватает навыков,
                базовых
                знаний,
                опираясь на которые, можно писать картины.
                Приглашаем вас на уроки живописи и рисунка</p>

            <p>Приглашаем вас на уроки рисования Максима Максимовича Цагараева — преподавателя живописи и рисунка,
                художника, участника многих выставок.</p>

            <p>Уроки живописи и рисунка включают в себя понимание основ композиции,
                вы научитесь гармонично располагать объекты на картине. Научитесь передавать объем, фактуры
                различных
                материалов, грамотно работать со светотенью.
                И это все &mdash; в процессе практики. По вашим работам опытный педагог увидит, с какими аспектами вы
                испытываете
                трудности, и поможет в них разобраться.</p>

            <p>По ходу работы у вас будут возникать вопросы — на них вы получите исчерпывающие ответы.</p>

            <p>Научитесь не только видеть красоту окружающего мира, а и передавать ее на своих картинах! Рисование
                &mdash; прекрасный способ провести досуг, отдохнуть, получить удовольствие от процесса творчества. А
                уроки
                рисования
                помогут отточить навыки так, чтобы вы смогли гордиться своими работами.
                Индивидуальный подход. Для любого уровня подготовки. Для вас.</p>

            <p>В группу на уроки рисования мы набираем не более 4 человек. Благодаря этому у преподавателя есть
                возможность
                уделить каждому ученику столько времени, сколько необходимо.</p>

            <p>Уроки живописи и рисования рассчитаны на учащихся любого уровня подготовки: преподаватель имеет
                необходимый
                опыт работы, группы небольшие и обучение практически индивидуальное, удобный график</p>

            <p>Уроки проходят в удобное время — по вечерам в рабочие дни и по субботам. Длительность — по 2
                академических
                часа.</p>

            <p>Приглашаем вас на уроки рисования и живописи в мастерскую, расположенную недалеко от станции метро
                «Полянка». Свяжитесь с нами любым удобным способом.</p>
        </div>
    </div>

</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter27966456 = new Ya.Metrika({id: 27966456, webvisor: true, trackHash: true});
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks");</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/27966456" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript><!-- /Yandex.Metrika counter -->
{% endblock %}