{% extends 'gallery/base.html' %}
{% load staticfiles %}
{% block maintitle %}Главная{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'img/MMaksimich.jpg' %}" alt="Максим Максимович Цагараев"
                 class="img-responsive img-rounded"/>
        </div>
        <div class="col-md-8">
            <p class="lead">Максим Максимович Цагараев</p>

            <p class="lead">Как говорится, «несколько слов о…»</p>

            <p>Первое дело жизни: рождение — город Нальчик, 1951 год.</p>

            <p>Первые шаги на творческом пути: ленинградская средняя художественная школа, год окончания — 1970 г.</p>

            <p>Следующий шаг: Москва, живописный факультет МГХИ им. Сурикова, год окончания — 1980 г.</p>

            <p>Затем: дмитровская художественная мастерская Худфонда СССР — с 1982 по 1995 гг.</p>

            <p>А заодно, член Союза художников СССР (с 1984 г.), Творческого союза художников России (с 2003 г.),
                Московского союза художников (с 2006 г.).</p>

            <p>А еще, участник всесоюзных и всероссийских выставок, персональная выставка прошла в ЦДХ в 2000 г.</p>

            <p>И, наконец, с 2007 года — преподаватель живописи и рисунка в ГСИИ города Москвы.</p>


        </div>
    </div>

</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter27966456 = new Ya.Metrika({id: 27966456, webvisor: true, trackHash: true});
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks");</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/27966456" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript><!-- /Yandex.Metrika counter -->
{% endblock %}