{% extends 'gallery/base.html' %}
{% load staticfiles %}
{% block styles %}
<style>
    .thumbnail img {
        width: 100%;
    }

    .ratings {
        padding-right: 10px;
        padding-left: 10px;
        color: #d17581;
    }

    .thumbnail {
        padding: 0;
    }

    .thumbnail .caption-full {
        padding: 9px;
        color: #333;
    }

    footer {
        margin: 50px 0;
    }
</style>
{% endblock %}
{% block maintitle %}{{work.name}}{% endblock %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <div class="thumbnail">
                <img class="img-responsive" src="{{work.image.url}}" alt="">

                <div class="caption-full">
                    <h4 class="pull-right"></h4>
                    <h4>
                        {{work.name}}
                        	{# Показываем кнопку перехода в админку для редактирования картины для зарегистрированных пользователей #}
                        	{% if request.user.is_authenticated %}
                        		{% if work.author %}
                        		{# авторы имеются только у работ студентов #}
                        			<a href="http://artlessons.ru/artlessons_dash/gallery/studentwork/{{work.pk}}" class="btn btn-primary" target="_blank">
	                        			<i class="fa fa-pencil"></i> Редактирование
	                        		</a>
                        		{% elif work.category %}
                        		{# категории только у работ Максимыча #}
                        		<a href="http://artlessons.ru/artlessons_dash/gallery/maksimichwork/{{work.pk}}" class="btn btn-primary" target="_blank">
	                        		<i class="fa fa-pencil"></i> Редактирование
	                        	</a>
                        		{% elif not work.category and not work.author %}
                        		{# а у работ Савостиковой нет ни того, ни другого #}
                        		<a href="http://artlessons.ru/artlessons_dash/gallery/savostikovawork/{{work.pk}}" class="btn btn-primary" target="_blank">
	                        		<i class="fa btn-primary"></i> Редактирование
	                        	</a>
                        		{% endif %}
                        	{% endif %}
                    </h4>

                    {% if author %}
                    <p>Автор: {{work.author}}</p>
                    {% endif %}
                    <p>{% if work.size %}{{work.size|lower}} см. {% endif %}{{work.technicks|capfirst}} {% if work.year %}{{work.year}} г.{% endif %}</p>
                </div>

            </div>


        </div>
        <div class="col-md-1"></div>
    </div>

</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter27966456 = new Ya.Metrika({id: 27966456, webvisor: true, trackHash: true});
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks");</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/27966456" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript><!-- /Yandex.Metrika counter -->
{% endblock %}