{% extends 'gallery/base.html' %}
{% load staticfiles %}
{% block maintitle %}Людмила Савостикова{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'img/savostikova.jpg' %}" class="img-responsive img-rounded" alt=""/>
        </div>
        <div class="col-md-7">
                <p class="lead">Памяти художника</p>
                <p>Природа щедро наградила эту женщину талантом. Чем бы она не занималась, будь то станковая акварель
                или плакат, книжная иллюстрация или вышитая картина &mdash; всё у неё получалось в высшей степени
                художественно. Она легко, свободно компоновала, имела абсолютное чувство цвета, была прирожденным
                орнаменталистом. Ее техническое мастерство поражает: когда нужно было, могла сделать сложнейший орнамент
                так, будто это машина напечатала, а в другом случае писала широко и свободно и тоже здорово. </p>

                <p> Глядя на её трёх-четырёх сантиметровые эскизы, со множеством деталей, часто выполненные сразу
                    кистью, диву даешься как такое, вообще, возможно. Когда она рисовала макеты своих книг одной линией,
                    иллюстрацию за иллюстрацией, нигде не прибегая к помощи ластика, становилась понятна её ирония в
                    адрес художников-компьютерщиков: даже в скорости они не могли с ней тягаться.</p>

                <p> Она родилась 6 октября 1955 года в Москве. Детство прошло в подмосковном посёлке Деденево,
                    Дмитровского района, в семье далёкой от изобразительного искусства. Мама, была по образованию
                    зоотехник, папа-офицер. Никто не подталкивал девочку к занятиям рисованием. Она сама стала
                    изображать бесконечных «королевишн» в роскошных нарядах и интерьерах, паря над скучной
                    повседневностью.</p>

                <p> В младших классах местной школы талант её уже явно обнаружился. Когда учителю ИЗО надоедало
                    объяснять урок, он поручал это делать девочке.</p>

                <p> Всё ей давалось легко: поступление в среднюю художественную школу в Москве и учёба в ней – акварели
                    девочки как образцы долго висели в этом учебном заведении; поступление в институт имени Сурикова на
                    графический факультет и занятия в плакатной мастерской у Олега Савостюка; диплом с отличием – она
                    защищалась серией театральных плакатов, и вступление в союз художников – она первая из выпуска
                    вступила в него; участие на самых престижных выставках страны и работа в мастерской наглядной
                    агитации.</p>

                <p> При этом, что также удивительно, ей никогда не приходилось лицемерить, заискивать перед
                    руководством, находить «покровителей», использовать женское обаяние. Она верила в свой талант, не
                    суетилась на карьерной лестнице, с улыбкой пропуская рвущихся вперёд, никогда никому не
                    завидовала.</p>

                <p> В конце 80-х она поняла, что ближе всего ей иллюстрирование детской книги. Попасть в этот мир было
                    не просто. Любое издательство облеплено «своими» художниками, как сахар мухами. Но её довольно скоро
                    допустили к работе.</p>

                <p> Первая книжка «Кошкин дом» вышла в издательстве «Малыш». А потом были «Три дочери», «Жил-был
                    воробей», «Хохлатые хохотушки», «Терем мухи», «Как Ча превратился в дракона», «Колокол» и
                    другие.</p>

                <p> Иллюстрирование детской книги предполагает чистый, радостный взгляд на мир. Она так на него и
                    смотрела. Человечки и зверушки, птички и насекомые, деревья и цветы, всё в её книжках излучало свет
                    и доброту. Чувствовался восторг художника от того, что он изображал. И этот подъём, эта энергия
                    передавались и зрителю. Любая деталь, любой фрагмент был сделан интересно и мастерски. Хотелось
                    смотреть и смотреть на этих смешных очеловеченных зверей и птиц, любоваться каким-нибудь свиным
                    пятачком или собачьей лапкой. Надо отметить – она великолепно знала конструкцию мух, червяков,
                    жуков, не говоря уже о живности покрупнее, будь то медведь или кошка, корова или заяц.</p>

                <p> Каждая книжка точно передавала национальные особенности быта того народа, которому принадлежала
                    сказка: русскому, татарскому, китайскому, индийскому.</p>

                <p> Для всех этих книг характерен сложный, драгоценный цветовой сплав. Иллюстрации написаны, а не
                    раскрашены, как это сплошь и рядом бывает. Цвет насыщенный, мерцающий, часто положенный «по
                    сырому».</p>

                <p> Сложный цвет – это всегда проблема для печати. Но в те годы издательства не боялись сложностей.
                    Тогда ещё ставилась задача эстетически воспитывать маленького читателя, а не просто драть с него
                    деньги.</p>

                <p> Этапом в творчестве мастера стали иллюстрации к книге «Гаргантюа и Пантагрюэль» Ф. Рабле в пересказе
                    для детей Л. Яхнина. В отличие от предыдущих книг тут появляется определенное живописное
                    пространство, в котором происходят всевозможные события. Главные герои выведены на передний план,
                    порой за раму, обрамляющую это пространство. Они как всегда остро нарисованы, одеты в великолепные
                    костюмы эпохи Возрождения, чувственные и смешные. Контраст очень большого и очень маленького даёт
                    ощущение космического размаха изображаемого. Сразу вспоминается что то Босхо-Брейгелевское, их
                    восприятие человеческого бытия как занятного, смешного и уродливого, но главное, ничтожного по
                    результатам действия.</p>

                <p> Особое место занимают иллюстрации к «Волшебной обезьяне» в адаптированном для детей пересказе Л.
                    Митрохина. Древнеиндийский миф о боге обезьян Ханумане захватил художника. Наметившиеся в «Гаргантюа
                    и Пантагрюэле» тенденции создания большого пространства, заполненного множеством персонажей,
                    напряженность, порой драматичность мироощущения, борьба светлых и темных сил, игра на контрасте
                    крупных и мелких форм в этой книге получили дальнейшее развитие. Фантазия художника неистово
                    наполняла деталями каждый сантиметр поверхности иллюстраций, создавая из них сложнейший узор. Каждый
                    сантиметр был проработан цветом, то ослепительно вспыхивающим, то загадочно мерцающим, то плавно
                    переходящим в бархатистую бездну. От обилия пластических ходов порой даже устаешь. Но такова была
                    сила, накал творческого созидания автора.</p>

                <p> Десять месяцев, изо дня в день творила она этот завораживающий, пряно-изысканный восточный мир,
                    согнувшись над столом в четырёхметровой кухне, где сушилось бельё, готовилась еда, работал
                    телевизор. Дурацкие байки про «слабый пол»! Ёе творческой целеустремленности, умению собраться,
                    довести задуманное до конца мог позавидовать любой художник-мужчина. Книга получилась уникальная,
                    интересная как ребенку, так и взрослому.</p>

                <p> Проклятые девяностые – время бандитов и жуликов! Договор был составлен так, что издательство могло
                    отказаться от сделанной работы ничем не рискуя. Оно и отказалось, решив её не печатать из
                    экономических соображений, не заплатив художнику ни копейки.</p>

                <p> Выставка иллюстраций в индийском посольстве так же не нашла издателя. Индийцам очень нравилась
                    книга. Они готовы были её раскупить по два-три листа, но она не пошла на уничтожение целого, не
                    смотря на то, что деньги были нужны: семья бедствовала в те годы. Деньги, вообще, не играли в её
                    жизни большой роли: есть –хорошо, нет –ну и ладно. Баб, хлопочущих о материальном благополучии, она
                    презрительно называла курицами. Однажды, в эти же голодные годы ей предложили проиллюстрировать
                    сборник эротических стихов, а по сути – порнографических. Обещали хорошо заплатить, но она наотрез
                    отказалась. Знакомые художники так и не поняли почему же не согласилась: «Ведь хорошие деньги
                    сулили!».</p>

                <p> Вторая половина 90-х характерна всё большей коммерциолизацией книжного дела. Не важно что печатать,
                    лишь бы продавалось. Если толпе нравится примитив, диснеевские «мультяшки» тупо раскрашенные первым
                    попавшимся цветом из банки и обведенные черным контуром, будем это и продавать. Если слащавый
                    «гипер» вызывает слезу у обывателя, так ему и надо. Изготовим тысячи картинок, задутых аэрографом.
                    Главной фигурой в издательствах становится менеджер по продажам, ни черта не смыслящий в
                    художественности.</p>

                <p> В этот период автор создаёт иллюстрации к сказке «Семь Симеонов», к «Живой азбуке» Саши Черного, к
                    «Учусь считать» Марины Дружининой. В них художник постепенно упрощает композиционное и цветовое
                    решение, стремиться к ясности и лаконичности пластического языка. Отчасти это диктовалось логикой
                    иллюстрируемых произведений, отчасти – пресловутыми требованиями рынка. Но настоящий талант
                    проявляется в любых формах, заставляя их смотреться интересно и неожиданно. В «Семи Семионах»
                    восхищает артистичная стилизация по мотивам древнерусского письма. Но как всякий настоящий творец
                    она не использует конкретные приёмы иконописи или лаковой миниатюры, а создаёт на их основе свою
                    интерпретацию. Обращает на себя внимание смелость композиционного решения, подсказанного формой
                    самой книги, и конечно же колорит иллюстраций, ведущую роль в котором играет насыщенный
                    красновато-коричневый тон. Он наполняет все листы «Семи Семионов» каким-то таинственно-добрым,
                    бесконечно загадочным смыслом русской сказочности.</p>

                <p> Удивительное дело: пытаясь определить словами качества талантливого произведения убеждаешься в
                    величайшей условности и ограниченности языка. Он лишь схематично обозначает какой-то первый слой
                    сотворенного, оставляя основные пласты, или хотя бы часть их не только не объясненными, но даже и не
                    названными. Ты видишь чудо из красок и форм, сверкающее светом таланта, оно захватывает тебя,
                    наполняя глубочайшим смыслом ряд мгновений твоей, вообщем-то, ничтожной жизни, испытываешь на
                    какое-то время примирение с бытиём, но адекватно описать даже для себя, этот чудесный акт, не говоря
                    уже о том чтобы передать его смысл другим, человек не может, да и не пытается.</p>

                <p> «Живая азбука» и «Учусь считать» – простые, наивные книжки. Художник, иллюстрируя их, создаёт
                    сверкающий, весёлый мир детской души, мир, когда реальность и сказка неотделимы друг от друга, когда
                    бытиё раскрывается чередой необыкновенных явлений и событий. Всё в этом детском мире наполнено
                    необычайной энергией и движением, гиперболической образностью и неистово яркой цветностью. Мастер,
                    забыв про всё «взрослое», силой своего таланта воссоздаёт золотое время жизни каждого человека.
                    Время, когда кошачья охота за мышью может обернуться галантной сценой венецианского карнавала, а
                    обычный зайка превращается в «отвязного», нагло закусывающего морковью «мальчиша-плохиша». </p>

                <p> Две последние книги убедительно показали зрелость её таланта, наметили новые пути в её
                    художественном движении.</p>

                <p> Но в 1998 году она тяжело заболела. Две операции, многократные курсы химиотерапии и облучения,
                    сломили бы любого, но только не её. </p>

                <p> И хотя силы были уже не те, она продолжала упорно работать. Еще шесть лет художник создавал
                    черно-белые иллюстрации ко всякого рода познавательной детской литературе. Как всегда это было
                    талантливо и интересно, хотя конечно ей хотелось работать как и раньше с художественными
                    произведениями. Но слабее становилось зрение, ухудшалось общее самочувствие и что самое печальное,
                    её рука, этот совершеннейший инструмент, создававший невероятные по мастерству вещи, рука виртуоза,
                    постепенно переставала слушаться. Можно только догадываться что при этом творилось в её душе, но она
                    никогда не жаловалась так как была гордым и сильным человеком, прикрывая свою душевную боль иронией
                    или черным юмором.</p>

                <p> Второго мая 2009 года она умерла – великолепный художник, умный человек, красивая женщина. Звали её
                    Людмила Савостикова.</p>

                <p>P.S.</p>

                <p> Вероятно в её ранней смерти есть своя закономерность. По настоящему талантливых людей мало и все они
                    слишком чужды и противны этому бытию, где правит бал плоская, лицемерная посредственность с толстой
                    шкурой и отменным здоровьем. А такие как она, люди-птицы, сверкнув в этом сумрачном тунеле, улетают
                    в другие миры, будем верить, чистые и прекрасные.</p>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter27966456 = new Ya.Metrika({id: 27966456, webvisor: true, trackHash: true});
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks");</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/27966456" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript><!-- /Yandex.Metrika counter -->
{% endblock %}