
{% extends 'gallery/base.html' %}
{% block maintitle %}Работы студентов{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>{{title}}</h3>
        </div>
    </div>
    {% for work in works %}
        {% if forloop.first %}
            <div class="row clearfix text-center">
        {% endif %}
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="{{work.thumbnail.url}}" alt="{{work.name}}">
                <div class="caption">
                    <h4>
                        <a href="/gallery/students/works/{{work.id}}">
                            {{work.name}}
                        </a>
                    </h4>
                    {% if work.size %}
                    	{{work.size|lower}} см.<br/>
                    {# Если поплывут размеры #}
                    {# {% else %} #}
    	            {# &nbsp;<br/>#}
                    {% endif %}
                    {{work.technicks}} {{work.year}} г.<br/>
    	            
    	            {# Показываем кнопку перехода в админку для редактирования картины для зарегистрированных пользователей #}
                    {% if request.user.is_authenticated %}
                    	<a href="http://artlessons.ru/artlessons_dash/gallery/studentwork/{{work.pk}}" class="btn btn-default" target="_blank">
	                    	<i class="fa fa-pencil"></i> Редактирование
	                	</a>
                    {% endif %}

                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row clearfix text-center">
        {% endif %}
        {% if forloop.last %}
            </div>
        {% endif %}
    {% empty %}
        Картины еще не были добавлены
    {% endfor %}
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (d, w, c) {
    (w[c] = w[c] || []).push(function () {
        try {
            w.yaCounter27966456 = new Ya.Metrika({id: 27966456, webvisor: true, trackHash: true});
        } catch (e) {
        }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
        n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
})(document, window, "yandex_metrika_callbacks");</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/27966456" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript><!-- /Yandex.Metrika counter -->
{% endblock %}