
{% extends 'gallery/base.html' %}
{% block maintitle %}Работы{% endblock %}
{% block content %}
<div class="container">
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>{{title}}</h3>
        </div>
    </div>
    <!-- /.row -->
    {% for work in works %}

    {% if forloop.first %}
    	<div class="row text-center clearfix">
    {% endif %}

    	<div class="col-md-3 col-sm-6 hero-feature">
    	    <div class="thumbnail">
    	        <img src="{{work.thumbnail.url}}" alt="{{work.name}}">
	
    	        <div class="caption">
    	            <h5>
    	                <a href="/gallery/works/{{work.id}}">
    	                    {{work.name}}
    	                </a>
    	            </h5>
					{% if work.size %}
    	            	{{work.size|lower}} см.<br/>
    	            {% else %}
    	            &nbsp;<br/>
					{% endif %}
    	            {{work.technicks}} {{work.year}} г.<br/>
    	            
    	            {# Показываем кнопку перехода в админку для редактирования картины для зарегистрированных пользователей #}
                    {% if request.user.is_authenticated %}
                    	<a href="http://artlessons.ru/artlessons_dash/gallery/maksimichwork/{{work.pk}}" class="btn btn-default" target="_blank">
	                		<i class="fa fa-pencil"></i> Редактирование
	                	</a>
                    {% endif %}
    	        </div>
    	    </div>
    	</div>
	{% if forloop.counter|divisibleby:4 %}
    	</div>
    	<div class="row clearfix text-center">
    {% endif %}
	
   	{% if forloop.last %}
    </div>
    {% endif %}

    {% empty %}
    Картины еще не добавлены
    {% endfor %}

</div>
{% endblock %}
